*.class
*.project
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/
/.settings/
/target/
/org/
/Tasks.txt
Будет удалено Multithreading/Test/Test_1/target/
Будет удалено Multithreading/Test/target/
Будет удалено SQL-JDBC/
Будет удалено Collections_Pro/Generic/5.2.1/target/
Будет удалено Collections_Pro/Generic/5.2.2/target/
Будет удалено Collections_Pro/Generic/target/
Будет удалено Collections_Pro/Iterator/5.1.1/target/
Будет удалено Collections_Pro/Iterator/5.1.2/target/
Будет удалено Collections_Pro/Iterator/5.1.3/target/
Будет удалено Collections_Pro/Iterator/5.1.4/target/
Будет удалено Collections_Pro/Iterator/target/
Будет удалено Collections_Pro/List/5.3.1/target/
Будет удалено Collections_Pro/List/5.3.2/target/
Будет удалено Collections_Pro/List/5.3.3/target/
Будет удалено Collections_Pro/List/5.3.4/target/
Будет удалено Collections_Pro/List/target/
Будет удалено Collections_Pro/Map/map1/target/
Будет удалено Collections_Pro/Map/map2/target/
Будет удалено Collections_Pro/Map/map3/target/
Будет удалено Collections_Pro/Map/map4/target/
Будет удалено Collections_Pro/Map/map5/target/
Будет удалено Collections_Pro/Map/map6/target/
Будет удалено Collections_Pro/Map/map7/target/
Будет удалено Collections_Pro/Map/map8/target/
Будет удалено Collections_Pro/Map/map9.1/target/
Будет удалено Collections_Pro/Map/map9/target/
Будет удалено Collections_Pro/Map/target/
Будет удалено Collections_Pro/Set/1/target/
Будет удалено Collections_Pro/Set/2/target/
Будет удалено Collections_Pro/Set/3/target/
Будет удалено Collections_Pro/Set/target/
Будет удалено Collections_Pro/Tree/Tree_1/target/
Будет удалено Collections_Pro/Tree/Tree_2/target/
Будет удалено Collections_Pro/Tree/Tree_3/target/
Будет удалено Collections_Pro/Tree/Tree_Test/target/
Будет удалено Collections_Pro/Tree/Tree_Test2/target/
Будет удалено Collections_Pro/Tree/target/
Будет удалено Collections_Pro/target/
Будет удалено Multithreading/JMM/1.1/target/
Будет удалено Multithreading/JMM/target/
Будет удалено Multithreading/Monitore_Synchronizy/M_Synch.1/target/
Будет удалено Multithreading/Monitore_Synchronizy/M_Synch.2/target/
Будет удалено Multithreading/Monitore_Synchronizy/M_Synch.3/target/
Будет удалено Multithreading/Monitore_Synchronizy/M_Synch.4/target/
Будет удалено Multithreading/Monitore_Synchronizy/target/
Будет удалено Multithreading/Non_Blocking_Algoritm/No_block_cash/target/
Будет удалено Multithreading/Non_Blocking_Algoritm/target/
Будет удалено Multithreading/Test/Test_2/pom.xml~
Будет удалено Multithreading/Test/Test_2/target/
Будет удалено Multithreading/Threads/002.1/target/
Будет удалено Multithreading/Threads/002.2/target/
Будет удалено Multithreading/Threads/002.3/target/
Будет удалено Multithreading/Threads/target/
Будет удалено Multithreading/Wait_Notify_NotifyAll/W_N_N_all_1/target/
Будет удалено Multithreading/Wait_Notify_NotifyAll/W_N_N_all_2/target/
Будет удалено Multithreading/Wait_Notify_NotifyAll/W_N_N_all_3/target/
Будет удалено Multithreading/Wait_Notify_NotifyAll/target/
Будет удалено Multithreading/target/
Будет удалено SQL-JDBC/CreateUpdateInsert/1.cu/src/
Будет удалено SQL-JDBC/CreateUpdateInsert/1.cu/target/
Будет удалено SQL-JDBC/CreateUpdateInsert/target/
Будет удалено SQL-JDBC/JDBC/1.jdbc/src/
Будет удалено SQL-JDBC/JDBC/1.jdbc/target/
Будет удалено SQL-JDBC/JDBC/target/
Будет удалено SQL-JDBC/Outer_join/1.oj/src/
Будет удалено SQL-JDBC/Outer_join/1.oj/target/
Будет удалено SQL-
JDBC/Outer_join/target/
Будет удалено SQL-JDBC/Query/1.q/src/
Будет удалено SQL-JDBC/Query/1.q/target/
Будет удалено SQL-JDBC/Query/target/
Будет удалено SQL-JDBC/TestSQLJDBC/1.tsj/src/
Будет удалено SQL-JDBC/TestSQLJDBC/1.tsj/target/
Будет удалено SQL-JDBC/TestSQLJDBC/target/
Будет удалено SQL-JDBC/target/
Будет удалено SQL-JDBC/Outer_join/target/
